.about-container{
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-flow: row wrap;
  background-image: url('../../images/sunflowers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
 
.about-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 60rem;
  padding: 30px 35px;
}

.about-portrait-info{
  display: flex;
  align-items: center;
}

.portrait{
  background-image: url('../../images/round.png');
  height: 350px;
  width: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.about-info{
  width: 40rem;
}

.greeting{
  font-size: 3.3rem;
  font-family: 'Frank Ruhl Libre', serif; 
   margin-bottom: 0;
}

.about-icon{
  text-decoration: none;
  color: black;
}

.about-text{
  font-size: .9rem;
  font-family: 'Lora', serif;
}

.about-text-anchor{
  text-decoration: none;
  color: black;
  display: inline;
}

a:hover{
  color: #62aa3d;
}

