.about-container{
  background-image: url('../../images/flowers.jpeg');
  background-position: 5% 75%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin: 20px 20px 0px;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; 
  align-content: space-between;
  flex-flow: row wrap;
}

.about-content{
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.portrait{
  margin: 15px;
}

.about-info{
  margin: 15px;
  width: 610px;
}

.greeting{
  font-size: 6em;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
}

.about-text{
  font-size: 1.3em;
}

.about-text-anchor{
  font-size: 1.3em;
}

a:hover{
  color: #62aa3d;
}

