.about-container{
  padding: 0;
  margin: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; 
  align-content: space-between;
  flex-flow: row wrap;
}

.portrait{
  margin: 15px; 
}

.greeting{
  font-size: 6em;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
}

.about-text{
  font-size: 1.3em;
}

.about-info{
  margin: 15px;
  align-self: center;
  width: 610px;
}

a:hover{
  color: #62aa3d;
}
