.navbar-brand{
  text-decoration: none;
  color: black;
  font-family: 'Lora', serif; 
}

.nav-link{
  text-decoration: none;
  color: black;
  margin: 2px 7px;
  font-family: 'Lora', serif;  font-size: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.nav-link.active{
  text-decoration: underline;
}

a:hover{
  cursor: pointer
}

nav{
  padding: 7px;
  height: 7vh;
  text-align: center;
}

@media only screen and (max-width: 1024px){
  .nav-link, .fa-bars, .navbar-brand{
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px){
  .nav-link, .fa-bars, .navbar-brand{
    font-size: 25px;
  }
}

@media only screen and (max-width: 414px){
  .nav-link, .fa-bars, .navbar-brand{
    font-size: 15px;
  }
}