.projects-container{
  min-height: 100vh;
  background-image: url('../../images/poppies.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.projects{
  display: flex;
  justify-content: center;  
  align-content: center;
}

.project-card{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 5px;
  transition: height .7s;
  margin-right: 10px;
}

.project-card:hover{
  height: 420px;
  cursor: pointer;
}

.project-card-details{
  font-size: 12px;
  width: 250px;
}


.project-card-buttons{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.project-card-button{
  padding: 5px;
  background-color: rgb(235, 235, 235);
  transition: background-color 0.5s ease;
  border-radius: 5px;
  font-size: 13px;
}

.project-card-button:hover{
  background-color: rgb(211, 211, 211);
}


.project-card-github{
  text-decoration: none;
  color: black;
}

.project-card-github:hover{
  text-decoration: none;
  color: black;
}

.project-card-preview{
  border: none;
}

.project-tech{
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  align-content: center;
  justify-content: center;
}

.web-tech{
  border: solid black 1px;
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
  font-size: 10px;
}

.jobly{
  background-image: url('../../images/jobly.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 155px;
  width: 300px;
  margin-bottom: 10px;
}

.warbler{
  background-image: url('../../images/warbler.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 155px;
  width: 300px;
  margin-bottom: 10px;
}

.gifsmos{
  background-image: url('../../images/GIFsmos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 155px;
  width: 300px;
  margin-bottom: 10px;
}

.project-content{
  margin: auto;
}