.projects-container{
  min-height: 100vh;
  background-image: url('../../images/poppies.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects{
  display: flex;
  justify-content: center;  
  align-content: center;
}

.project-card{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 275px;
  padding: 5px;
  transition: height .5s;
  margin-right: 10px;
}

.project-card:hover{
  height: 290px;
  cursor: pointer;
}

.project-tech{
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  align-content: center;
  justify-content: center;
}

.web-tech{
  border: solid black 1px;
  border-radius: 3px;
  padding: 3px;
  margin-right: 5px;
  font-size: 10px;
}

.jobly{
  background-image: url('../../images/jobly.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 155px;
  width: 300px;
}

.warbler{
  background-image: url('../../images/warbler.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 155px;
  width: 300px;
}

.project-content{
  margin: auto;
}